/* @use '@angular/material' as mat;
@use '../../../libs/ui-kit/src/lib/styles/styles.scss' as sicof-theme;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  color-scheme: light dark;


  @include mat.theme((color: mat.$violet-palette,

      typography: Roboto,
  
      density: 0
    
    ));


  &.theme-light {
    color-scheme: light;
  }
  &.theme-dark {
    color-scheme: dark;
  }


  &.sicof-theme-light {
    @include sicof-theme.apply-sys-variables(sicof-theme.$light-scheme);
    color-scheme: light;
  }

  &.sicof-theme-light-medium-contrast {
    @include sicof-theme.apply-sys-variables(sicof-theme.$light-medium-contrast-scheme);
    color-scheme: light;
  }

  &.sicof-theme-light-high-contrast {
    @include sicof-theme.apply-sys-variables(sicof-theme.$light-high-contrast-scheme);
    color-scheme: light;
  }

  &.sicof-theme-dark {
    @include sicof-theme.apply-sys-variables(sicof-theme.$dark-scheme);
    color-scheme: dark;
  }

  &.sicof-theme-dark-medium-contrast {
    @include sicof-theme.apply-sys-variables(sicof-theme.$dark-medium-contrast-scheme);
    color-scheme: dark;
  }

  &.sicof-theme-dark-high-contrast {
    @include sicof-theme.apply-sys-variables(sicof-theme.$dark-high-contrast-scheme);
    color-scheme: dark;
  }

  &.sicof-theme-red-light {
    @include sicof-theme.apply-sys-variables(sicof-theme.$red-lt-scheme);
    color-scheme: light;
  }

  &.sicof-theme-orange-light {
    @include sicof-theme.apply-sys-variables(sicof-theme.$orange-lt-scheme);
    color-scheme: light;
  }

  &.sicof-theme-yellow-light {
    @include sicof-theme.apply-sys-variables(sicof-theme.$yellow-lt-scheme);
    color-scheme: light;
  }

  &.sicof-theme-green-light {
    @include sicof-theme.apply-sys-variables(sicof-theme.$green-lt-scheme);
    color-scheme: light;
  }

  &.sicof-theme-blue-light {
    @include sicof-theme.apply-sys-variables(sicof-theme.$blue-lt-scheme);
    color-scheme: light;
  }

  &.sicof-theme-chartreuse-light {
    @include sicof-theme.apply-sys-variables(sicof-theme.$chartreuse-lt-scheme);
    color-scheme: light;
  }

  &.sicof-theme-cyan-light {
    @include sicof-theme.apply-sys-variables(sicof-theme.$cyan-lt-scheme);
    color-scheme: light;
  }
} */


// projects/test-app/src/styles.scss

// 1. Importar fuentes (Material las necesita)
@use '../../../libs/ui-kit/src/lib/styles/main.scss' as bds;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// 2. Importar tu librería de estilos
// Nota: La ruta depende de cómo exportes tus estilos. 
// Si es relativo dentro del monorepo:

// 3. ¡Activar el sistema!
@include bds.bds-core-theme();

// --- ESTO ES TODO ---
// Ya tienes Material configurado con tus tokens.